{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Course Detail</h1>
            <p class="lead text-body-secondary">{{course.summary}}</p>
            <img src="{{course.image}}" alt="" height="300">

            <p>
              <a href="{% url 'index' %}" class="btn btn-primary my-2">Back</a>
            </p>
          </div>
        </div>
    </section>
    
      <div class="album py-5 bg-body-tertiary">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for course in courses.all%}
            
            <div class="col">
              <div class="card shadow-sm">
                <img  src="{{ course.image }}"  class="card-img-top" alt="">
                <div class="card-body">
                  <p class="card-text">   {{course.summary}}</p>
                </div>
              </div>
            </div>
            {% endfor %} 
          </div>
        </div>
      </div>
    
    </main>
    
    
    {% endblock %}
    
    
    