{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Bluelime Learning Solutions</h1>
        <p class="lead text-body-secondary">Welcome to bluelime learning. We provide 247 online learning on Codding</p>
        <p>
          <a href="mailto:chegeharrison10@gmail.com" class="btn btn-primary my-2">Email Us</a>
          <a href="https://www.udemy.com " class="btn btn-info my-2">Course on Udemy</a>
        </p>
        <img src="{% static 'logo1.png' %}" alt=" " height="300">
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for course in courses.all%}
        
        <div class="col">
          <div class="card shadow-sm">
            <a href="{% url 'detail' course.id %}">
            <img  src="{{ course.image }}"  class="card-img-top" alt="">
            </a>
            <div class="card-body">
              <p class="card-text">   {{course.summary}}</p>
            </div>
          </div>
        </div>
        {% endfor %} 
      </div>
    </div>
  </div>

</main>

{% endblock %}
